body {
    background: #0b0b0b;
    font-family: Arial;
    color: white;
}

.container {
    width: 900px;
    margin: auto;
    text-align: center;
}

.video-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

video {
    width: 48%;
    height: 240px;
    background: black;
    border-radius: 10px;
}

#chatBox {
    height: 200px;
    background: #111;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

.controls {
    margin-top: 10px;
}

input {
    width: 60%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-left: 5px;
}
